@font-face {
    font-family: machina;
    src: url(./PPNeueMachina-PlainRegular.otf);
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    font-family: 'Pretendard-Regular';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 300px;
    overflow-x: hidden;
    background-color:rgba(14, 14, 14, 1);
}
header>.title{
    padding: 50px 0px 0px 50px;
    color: #f8f8f8;
    font-family: machina;
    font-size: 160px;

    letter-spacing :-0.045em;
}
header>img{
    width: 35%;
    height: auto;
}
.profile{
    padding-top: 100px;
    width: 100%;
    background-color: rgba(14, 14, 14, 1);
    display: flex;
    justify-content: center;
}
.profile>img{

}
.menu{
    position: sticky;
    top:0;
    z-index: 1;
}
.menu>ul{
    display: flex;
    background-color:rgba(14, 14, 14, 1);
    justify-content: center;
}
.menu>ul>li{
    list-style-type: none;
    padding: 20px 20px;
}
.menu>ul>li>a{
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}
.menu>ul>li>a:hover{
    color:rgb(225, 62, 70);
}
.skill{
    padding: 200px 0px 100px 0px;
    background-color:rgba(14, 14, 14, 1);
}
.sub-head{
    font-size: 20px;
    color: #fff;
    padding: 25px 0px 25px 50px;
}

.sub-head2,.sub-head3{
    text-align: center;
    color:#1a1a1a;
    font-size: 50px;
  padding: 100px 0px ;
    font-family: machina;
}
.sub-head3{
    background-color:rgba(14, 14, 14, 1);
    color: #fff;
    text-align: center;
}
.zt-skill-bar {
    padding-left: 50px;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    height: 50px;
    margin-bottom: 5px;
    background-color: rgba(0,0,0,0.1);

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
            border-radius: 2px;

}
.zt-skill-bar * {
    -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
       -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
           transition: all 0.5s ease;
}

.zt-skill-bar div {
    background-color: rgb(225, 62, 70);
    position: relative;
    padding-left: 25px;
    width: 0;

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
            border-radius: 2px;
}

.zt-skill-bar span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 5px 0 10px;
    font-size: 17px;
    background-color: #1a1a1a;

    -webkit-border-radius: 0 2px 2px 0;
       -moz-border-radius: 0 2px 2px 0;
        -ms-border-radius: 0 2px 2px 0;
            border-radius: 0 2px 2px 0;
}

.zt-skill-bar span:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 50%;
    left: -3px;
    margin-top: -3px;
    background-color: #1a1a1a;

    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.web1{
    padding: 0px 0px 40px 0px;
    background-color: #473747;
}
.web-1{
    width: 100%;
    margin: 0px auto;  

}
.web-1>img{
    width: 100%;
}
.web-2{
    width: 100%;
    background-color: #473747;
    padding-bottom: 60px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.web-2>img{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 1200px;
    margin: 0 auto;
}
.works{
    padding-bottom: 200px;
}
.work-img{

    margin: 0px 20px;
}
.work-img>img{
    margin: 16px 0px 5px 0px;
    width: 250px;
}
.work-img>p{
    font-size: 20px;
    text-align: center;
}
.work-img>a{
    text-align: center;
    display: block;
    text-decoration: none;
    color: rgb(66, 66, 66);
}
.link{
    display: block;
    margin: 20px auto;
    width: 230px;
    border: 1px solid #000;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    
}
.react-works{
    padding-bottom: 100px;
}
.react{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#graphic3, .graphic, .graphic2{
    padding: 0px 0px 200px 0;
    position: relative;
    background-color: rgba(14, 14, 14, 1);
}
.graphic3{
    padding: 0px;
}
.graphic>div:nth-child(2){
    position: absolute;
    right: 100px;
    bottom: 0px;
}
.graphic2>div:nth-child(2){
    position: absolute;
    bottom: 300px;
    right: 100px;
}
.sub-head4, .sub-head5{
    font-family: machina;
  font-size: 100px;
  padding: 80px 90px 10px 90px;
  background-color: rgba(14, 14, 14, 1);
  color: #fff;
}
.sub-head5{
    padding-top: 200px;
    text-align: right;
}
.gra{
    padding-left: 100px;
}
.graphic>div, .graphic2>div{
    width: 40%;
    overflow: hidden;
}
.graphic>div>img, .graphic2>div>img{
    width: 100%;
}
.graphic2>.gra-img>.gra-text{
    padding-bottom: 20px ;
}
.gra-text, #gra-text{
    font-size: 17px;
    line-height: 1.7;
    color: #fff;
}
#gra-text{
    text-align: center;
}
.container {
    width: 1220px;
    margin: 20px auto;
    overflow: hidden;
  }

  .images {
    width: 200px;
    height: auto;
  }
  .images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  
  @media (min-width: 640px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 30px;
      grid-auto-flow: row dense;
    }
    .imageFlex1 {
      display: grid;
      row-gap: 20px;
    }
    .imageFlex2 {
      display: grid;
      row-gap: 20px;
    }
    .imageFlex3 {
      display: grid;
      row-gap: 20px;
    }
    .imageFlex4 {
        display: grid;
        row-gap: 20px;
      }
    .imageFlex5 {
        display: grid;
        row-gap: 20px;
      }
  }


.video{
    justify-content: center;
    display: flex;
    padding: 50px 0px 200px 0px;

}
.video>li{
    padding: 25px;
    list-style-type: none;
}
.video>li>iframe{
    padding-bottom: 10px;
}
.video>li{
    font-size: 17px;
    text-align: center;
    color: #888;
}
.v-t{
    font-size: 20px;
    padding-bottom: 5px;
    color: #111;

}
footer{
    display: flex;
    background-color:rgba(14, 14, 14, 1);
    padding: 20px 0px;
    justify-content: space-between;
}
footer>span{
    font-size: 20px;
    padding: 0px 30px;
    color: #fff;
}
