@font-face {
    font-family: machina;
    src: url(./PPNeueMachina-PlainRegular.otf);
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    font-family: 'Pretendard-Regular';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
header{
    width: 100vw;
    overflow-x: hidden;
    background-color:rgba(14, 14, 14, 1);
}
header>.title{
    color: #f8f8f8;
    font-family: machina;
    position: absolute;
    font-size: 160px;
    top: 56px; 
    left: 50px;
    letter-spacing :-0.045em;
}
header>img{
    width: 100vw;
}
h2{
    text-align: right;
    font-size: 50px;
    padding-right: 60px;
    background-color:rgba(14, 14, 14, 1);
    color: #fff;
}
.skill{
    padding: 100px 0px;
    background-color:rgba(14, 14, 14, 1);
}
.sub-head{
    font-size: 20px;
    color: #fff;
    padding: 25px 0px 25px 50px;
}

.sub-head2,.sub-head3{
    text-align: center;
    color:#1a1a1a;
    font-size: 50px;
  padding-top: 50px;
    font-family: machina;
}
.sub-head3{
    background-color:rgba(14, 14, 14, 1);
    color: #fff;
    text-align: center;
}
.zt-skill-bar {
    padding-left: 50px;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    height: 50px;
    margin-bottom: 5px;
    background-color: rgba(0,0,0,0.1);

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
            border-radius: 2px;

}
.zt-skill-bar * {
    -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
       -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
           transition: all 0.5s ease;
}

.zt-skill-bar div {
    background-color: rgb(225, 62, 70);
    position: relative;
    padding-left: 25px;
    width: 0;

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
            border-radius: 2px;
}

.zt-skill-bar span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 5px 0 10px;
    font-size: 17px;
    background-color: #1a1a1a;

    -webkit-border-radius: 0 2px 2px 0;
       -moz-border-radius: 0 2px 2px 0;
        -ms-border-radius: 0 2px 2px 0;
            border-radius: 0 2px 2px 0;
}

.zt-skill-bar span:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 50%;
    left: -3px;
    margin-top: -3px;
    background-color: #1a1a1a;

    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.work1{
    display: flex;
}
.works>ul{
    padding-bottom: 100px;
}
.works>ul>li{
    padding: 50px 0px;
}
.work-img{
    position: relative;
    width: 55%;
    margin: 20px 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.work-img>img{
    width: 100%;
    object-fit: cover;

}
.work-text{
    word-break: keep-all;
    width:40%;
    padding: 50px;
}
.link{
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
    background-color: rgba(14, 14, 14, 1);
    color: #fff;
}
.work-text>p>b{
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
    color:#1a1a1a;
}
.work-text>ul>b{
    font-size: 20px;
    padding-top: 20px;
    color:#1a1a1a;
    display: block;
}
.work-text>a{
    text-decoration: none;
}
.work-text>ul{
    margin: 10px 0px;
    list-style-type: none;
    padding-bottom: 20px;
}
.work-text>ul>li{
    padding: 10px 0px;
}
.work2{
    display: flex;
    justify-content: center;
}
.work2>li{
    padding: 20px !important;
    list-style: none;
    width: 45%;
}
.work2>li>div{
    overflow: hidden;
    height: 400px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
margin-bottom: 20px;
}
.work2>li>div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.react-works{
    padding-bottom: 100px;
}
.react>li{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.react>li>p{
        font-size: 30px;
        color: #1a1a1a;
        display: block;
        text-align: center;
}
.work2>li{
    text-align: center;
}
.work2>li>a{  
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(14, 14, 14, 1);
    color: #fff;
}
.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail>a{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(14, 14, 14, 1);
    color: #fff;
}
.caption, .caption2{
    position: absolute;
    bottom: 20px;
    right: -110px;
    width:400px;
}
.caption2{
    width:42%;
    right: -150px;
}
.caption>img{
    width: 100%;
    object-fit: cover;
}
.caption2>img{
    width: 100%;
    object-fit: contain;
}
.graphic, .graphic2{
    padding: 0px 0px 200px 0;
    position: relative;
    background-color: rgba(14, 14, 14, 1);
}
.graphic>div:nth-child(2){
    position: absolute;
    right: 100px;
    bottom: 0px;
}
.graphic2>div:nth-child(2){
    position: absolute;
    bottom: 300px;
    right: 100px;
}
.sub-head4, .sub-head5{
    font-family: machina;
  font-size: 100px;
  padding: 80px 90px 10px 90px;
  background-color: rgba(14, 14, 14, 1);
  color: #fff;
}
.sub-head5{
    padding-top: 200px;
    text-align: right;
}
.gra{
    padding-left: 100px;
}
.graphic>div, .graphic2>div{
    width: 40%;
    overflow: hidden;
}
.graphic>div>img, .graphic2>div>img{
    width: 100%;
}
.graphic2>.gra-img>.gra-text{
    padding-bottom: 20px ;
}
.gra-text{
    font-size: 17px;
    line-height: 1.7;
    color: #fff;
}
.video{
    justify-content: center;
    display: flex;
    padding: 50px 0px 200px 0px;

}
.video>li{
    padding: 25px;
    list-style-type: none;
}
.video>li>iframe{
    padding-bottom: 10px;
}
.video>li{
    font-size: 17px;
    text-align: center;
    color: #888;
}
.v-t{
    font-size: 20px;
    padding-bottom: 5px;
    color: #111;

}
footer{
    display: flex;
    background-color:rgba(14, 14, 14, 1);
    padding: 20px 0px;
    justify-content: space-between;
}
footer>span{
    font-size: 20px;
    padding: 0px 30px;
    color: #fff;
}
